/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* begin personal styling after default */
html, body {
    height: 100%;
}

.container {
    width: 100%;
    min-height: 100%;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    height: 8vh;
    background-color:rgb(0, 149, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    color: white;
    font-size: 4vh;
    font-weight: bold;
}

.newBookPopUp {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newBookPopUp > button {
    font-size: 3rem;
    font-weight: bold;
    border-style: none;
    border-radius: 25px;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

.newBookPopUp > button:hover {
    background-color:rgb(187, 194, 199);
}

.modal {
    background-color: aliceblue;
    height: 45%;
    width: 35%;
    top: 25%;
    position: fixed;
    transition: 0.2s ease-in-out;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.active {
    display: flex;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    width: 100%;
    height: 100%;
}

.overlay.active {
    display: block;
}

.addBookForm {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    gap: 5%;
    display: none;
}

.addBookForm.active {
    display: flex;
}

.addBookForm > h3 {
    font-size: 3.5vw;
    font-weight: bold;
}

.addBookForm > input {
    width: 80%;
    height: 5vh;
    font-size: 4vh;
    text-align: center;
    border-radius: 25px;
    border-style: none;
}

.addBookForm > input:hover {
    background-color:rgb(231, 231, 231);
}

.isRead {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.isRead > label {
    font-size: 2vw;
}

.isRead > input {
    width: 2vh;
    height: 2vh;
}

.addBookForm > button {
    border-style: none;
    border-radius: 25px;
    background-color: rgb(0, 149, 255);
    color: white;
    font-size: 3vw;
    width: 50%;
}

.addBookForm > button:hover {
    background-color: rgb(0, 120, 206);
}

.library {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 2vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.card {
    background-color: white;
    height: 35vh;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgb(0, 21, 24);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    justify-content: space-between;
    border-radius: 25px;
    padding-bottom: 2vh;
}

.colorCard {
    background: linear-gradient(#00ffff, rgb(0 100 255));
    width: 100%;
    height: 10%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.titleText, .authorText, .pageText, .readButton {
    margin-left: 1em;
    margin-right: 1em;
}

.titleText {
    font-size: 2vb;
    font-weight: bold;
    text-align: center;
    display: block;
}

.authorText {
    font-size: 1.8vb;
    text-align: center;
}

.pageText {
    font-size: 2.5vb;
    text-align: center;
}

.readButton, .deleteButton {
    border-radius: 25px;
    border-style: none;
    height: 12%;
    font-size: 2vb;
}

.read {
    background-color: rgb(110, 255, 156);
}

.read:hover {
    background-color: rgb(90, 209, 127);
}

.notRead {
    background-color: rgb(255, 116, 116);
}

.notRead:hover {
    background-color: rgb(194, 88, 88);
}

.deleteButton {
    background-color: rgb(223, 223, 223);
    margin-left: 1em;
    margin-right: 1em;
}

.deleteButton:hover {
    background-color: rgb(189, 189, 189);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color:rgb(15, 15, 66);
}
